<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список событий</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Список событий</h1>
  <a href="/events/new" class="btn btn-primary mb-3">Добавить новое событие</a>

  <table class="table">
    <thead>
    <tr>
      <th>Модель устройства</th>
      <th>IP</th>
      <th>Дата и время</th>
      <th>Сенсор</th>
      <th>Статус</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="event : ${eventList}">
      <tr>
        <td th:text="${event.deviceName}"></td>
        <td th:text="${event.ip}"></td>
        <td th:text="${event.time}"></td>
        <td th:text="${event.sensorName}"></td>
        <td th:text="${event.status}"></td>
        <td>
          <a th:href="@{/events/edit/{id}(id=${event.id})}" class="btn btn-warning">Редактировать</a>
          <a th:href="@{/events/delete/{id}(id=${event.id})}" class="btn btn-danger">Удалить</a>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>

  <a href="/" class="btn btn-secondary">На главную</a>
</div>

</body>
</html>
